body{
    padding:100px;
}
.submit-area{
    padding: 30px;
    margin-top: 50px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px gray;
}
#transaction-area{
    display: none;
}
.status{
    margin:0 20px;
    color:white;
    padding:20px;
    border-radius: 10px;
}
.deposit{
    
    background-color: indigo;
}
.withdraw{
    background-color: lightcoral;
}
.balance{
    background-color: orange;
}